/*css code for Gallery*/
* {
margin: 0;
padding: 0;
font-family: "montserat", sans-serif;
box-sizing: border-box;
}
.portfolio-area{
width: 100%;
padding: 60px 0;
background: #f1f1f1;
}

.portfolio-area h3 {
text-align: center;
text-transform: uppercase;
color: #333;
}

.border{
width: 180px;
height: 4px;
background: #333;
margin: 40px auto;
}

.inner-width {
width: 100%;
max-width: 1170px;
margin: auto;
padding: 0 20px;

}

.portfolio-area .gallery {
display:flex;
flex-wrap: wrap-reverse;
justify-content: center;
}

.portfolio-area .image {
flex: 25%;
overflow:hidden;
cursor:pointer;
}

.portfolio-area .image img {
height: 100%;
width: 100%;
transform: 0.4s;
}

.portfolio-area .image:hover img {
transform: scale(1.4) rotate(15deg);
}
/*--------About me-------*/

.clickMe {
    background: green;
    padding:  10px 50px;
    color:#fff;
    font-size: 17px;
    text-transform: uppercase;
    border: 0;
    text-align: center;
    text-decoration: none;
    margin-left:40% ;
    display: inline-block;
    font-size: 20px;
    margin-top: 50px;
}
.me{
    text-align: center;
    margin-top:100px;
    text-shadow: 3px 1px #333;
    font-size: 22px;
}

/*--------------*/
h3 {
    color:#fff;
    font-size:48px;
    font-family:Shrikhand;
    margin:0;
}

p {
    font-family: Poppins;
    line-height: 30px;
    color:#fff; 
}

nav {
    position: absolute;
    top: 0;
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li{

    display: inline-block;
    padding: 15px 20px;
  
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-family: Shrikhand;
    letter-spacing: 1px;
    font-size: 20px; 
}

.home-area{
    background-image: url("https://images.freeimages.com/images/large-previews/a0c/dancer-jumping-doing-a-tilt-1632059.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;

}

.home-area h2 {
 color:#fff;
 font-size: 48px;
 font-family: Shrikhand;
 margin: 0;

}
.callToAction{
    background:saddlebrown;
    padding:  10px 50px;
    font-size: 17px;
    text-transform: uppercase;
    border: solid 3px black;
   
}

.callToAction a {
 text-decoration: none;
 color: black;
}

.callToAction{
    margin-top:50px; 
}

.wrapper{
    width: 1170px;
    margin: 0 auto;

}
.banner-area{
    margin: 50px;
}

.banner-area h2 {
    color:black;
    letter-spacing: 10px;
}

.banner-area p {
    padding: 0 60% 0 0;
    color: black;
}

.contact-area input[type=text], .contact-area input[type=email] {
width: 30%;
height: 40px;
padding: 0 20px;

}

.contact-area textarea {
    width: 30%;
    padding: 10px 20px;
}

.contact-area input[type=submit]{
    background: saddlebrown;
    padding:  10px 50px;
    color:#fff;
    font-size: 17px;
    text-transform: uppercase;
    border: 0;
}

/*responsive css*/

@media only screen and (min-width: 768px) and (max-width:991px) {
.wrapper{
    width: 90%;
}
.contact-area input[type=text], .contact-area input[type=email] {
    width: 85%;
    height: 30px;
    }

    .contact-area textarea {
          width: 85%;
    }
}

@media only screen (max-width:767px){
    .wrapper {
        width:90%; 
    }
    nav {
        display: none;
    }
    .home-area h2 {
        font-size: 25px;
    }
    h3 {
        font-size: 30px;
    }

    .banner-area p {
        padding: 0 12% 0 0;
    }
    .about-area p, .portfolio-area p, .services-area p, .contact-area p {
        line-height: 20px;
        font-size: 13px;

    }
    .contact-area input[type=text], .contact-area input[type=email] {
    width: 85%;
    height: 30px;
    }

    .contact-area textarea {
          width: 85%;
    }
}

