/*css code for Gallery*/
* {
margin: 0;
padding: 0;
font-family: "montserat", sans-serif;
box-sizing: border-box;
}
.portfolio-area{
width: 100%;
padding: 60px 0;
background: #f1f1f1;
}

.portfolio-area h3 {
text-align: center;
text-transform: uppercase;
color: #333;
}

.border{
width: 180px;
height: 4px;
background: #333;
margin: 40px auto;
}

.inner-width {
width: 100%;
max-width: 1170px;
margin: auto;
padding: 0 20px;

}

.portfolio-area .gallery {
display:flex;
flex-wrap: wrap-reverse;
justify-content: center;
}

.portfolio-area .image {
flex: 25%;
overflow:hidden;
cursor:pointer;
}

.portfolio-area .image img {
height: 100%;
width: 100%;
}

.portfolio-area .image:hover img {
transform: scale(1.4) rotate(15deg);
}
/*--------About me-------*/

.f1_container {
    position: relative;
    margin:10px;
    width: 300px;
    height: 300px;
    z-index : 1;
    margin: 0 auto;
}
.f1_container {
    -webkit-perspective: 1000;
    perspective: 1000;
}
.f1_card {
    width: 100%;
    height: 100%;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: all 1.0s linear;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
.f1_container.active .f1_card {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.face.back {
    display: block;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    box-sizing: border-box;
    color: white;
    text-align: center;
    background-color: none;
}

/*----------Navigation -------*/
h3 {
    color:#fff;
    font-size:48px;
    font-family:Shrikhand;
    margin:0;
}

p {
    font-family: Poppins;
    line-height: 30px;
    color:#fff; 
}

nav {
    position: absolute;
    top: 0;
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    
}

nav ul li{

    display: inline-block;
    padding: 15px 20px;
  
}

nav ul li a {
    text-decoration: none;
    color:black;
    font-family: Shrikhand;
    letter-spacing: 1px;
    font-size: 20px; 
}

/*-------First Page--------*/

.home-area{
    background-image: url("https://images.freeimages.com/images/large-previews/2ce/boy-band-4-1435026.jpg");
    -webkit-background-size: contain;
    background-size: cover;
    background-position: center center;

}

.home-area h2 {
 color:#fff;
 font-size: 48px;
 font-family: Shrikhand;
 margin: 0;

}
.callToAction{
    background:saddlebrown;
    padding:  10px 50px;
    font-size: 17px;
    text-transform: uppercase;
    border: solid 3px black;
   
}

.callToAction a {
 text-decoration: none;
 color: black;
}

.callToAction{
    margin-top:50px; 
}

.wrapper{
    width: 100%;
    margin: 0 auto;
    height: auto;

}
.banner-area{
    margin: 50px;
}

.banner-area h2 {
    color:black;
    letter-spacing: 10px;
}

.banner-area p {
    padding: 0 60% 0 0;
    color: black;
}

/* Contact Area */

.contact-area {
    text-align: center;

}


.contact-area input[type=text], .contact-area input[type=email] {
width: 50%;
height: 40px;
padding: 0 20px;
margin-bottom: 5px;
}

.contact-area textarea {
    width: 50%;
    padding: 10px 20px;
}

.contact-area input[type=submit]{
    background: saddlebrown;
    padding:  10px 50px;
    color:#fff;
    font-size: 17px;
    text-transform: uppercase;
    border: 0;
    margin-top: 20px;
}

/*----- Pricing area -----*/

/*responsive css*/


@media screen and (min-width: 991px) and (max-width:1200px) {

.wrapper{
    width: 90%;
}
.contact-area input[type=text], .contact-area input[type=email] {
    width: 50%;
    height: 30px;
    }

    .contact-area textarea {
          width: 50%;
    }
}


@media screen and (max-width:767px) {
    
        .wrapper {
            width:90%; 
        }

        nav {
            display: none;
        }

        .home-area h2 {
            font-size: 25px;
        }
    

        h3 {
            font-size: 30px;
        }

        .banner-area p {
            padding: 0 12% 0 0;
        }
        .banner-area{
            margin-top: 0px;
        }


        .portfolio-area p, .services-area p, .contact-area p {
            line-height: 20px;
            font-size: 13px;
        }
    
        .contact-area input[type=text], .contact-area input[type=email] {
        width: 85%;
        height: 30px;
        }

        .contact-area textarea {
            width: 85%;
        }
        .me , .me2{
            text-align: center;
            font-size: 20px;
            line-height:21px;
            font-family: Shrikhand;
            letter-spacing: 3px;
            position: relative;
            right:0;
            width: 100%;
            color: black;
            }

    }

    @media screen and (max-width:480px) {

            .myfoto{
                width: 80%;
                height: 100%;
                margin-left: 0;
                position: relative;
            }

            .banner-area{
            margin: 5px;
            text-align: center;
            }

            .callToAction{

                background:saddlebrown;
                font-size: 12px;
                text-transform: uppercase;
                border: solid 3px black; 
                margin-top: 200px;
                text-align: center;
            }
           .banner-area h2 {
            text-align: center;
            }       
            .banner-area p {
                text-align: center;
            }